.report-left-block {
  padding-top: 12px;
  background-color: rgba(134, 142, 150, 0.11);
}
tfoot {
  tr {
    td {
      background-color: rgba(73, 80, 87, 0.32);
    }
  }
}

thead {
  tr {
    th {
      background-color: rgba(73, 80, 87, 0.32);
    }
  }
}
